#con1
{
position:absolute;
right:55px;
top:70px;
border:solid;
border-radius:20px;
}
#commands
{
position:absolute;
left:30px;
top:70px;
border:solid;
border-radius:20px;
height:60%;
width:50%;
}
#h2
{
position:absolute;
left:30px;
top:20px;
}
#button
{
-webkit-box-shadow:0 0 4px #000;/*safari and Chrome*/
-moz-box-shadow:0 0 4px #000; /*Mozilla*/
-o-box-shadow:0 0 4px #000; /*Opera*/
-ms-box-shadow:0 0 4px #000; /*Ms IE*/
box-shadow:0 0 4px #000; /*W3C*/
-webkit-border-radius:20px;/*safari and Chrome*/
-moz-border-radius:20px; /*Mozilla*/
-o-box-border-radius:20px; /*Opera*/
-ms-box-border-radius:20px; /*Ms IE*/
border-radius:15px; /*W3C*/
background-image:-webkit-linear-gradient(top,#ffffff 0%,#000000 100%);
background-image:-moz-linear-gradient(top,#ffffff 0%,#000000 100%);
background-image:-o-linear-gradient(top,#ffffff 0%,#000000 100%);
background-image:-ms-linear-gradient(top,#ffffff 0%,#000000 100%);
background-image:linear-gradient(top,#ffffff 0%,#000000 100%);
text-align:center;
background :#FAFAD2;
width : 20%;
height: 12%;
font-weight:Bold;
}
#aap
{
position:absolute;
left:30px;
bottom:25px;
border:solid;
border-radius:20px;
width:50%;
height:18%;
}
#can
{
background-image:url('1a1.jpg');
background-repeat:no-repeat;
top:10px;
right:50px;
width:50%;
height:50%;
}
#tut
{
background-image:url('10.jpg');
background-repeat:no-repeat;
}
#tur
{
position:absolute;
border:solid orange;
}


