body
{
background-image:url('home.jpg');
background-repeat:no-repeat;
}
#h1
{
font:bold 60px/25px  Times, serif;
font-style:italic;
font-size:55px;
}
#img
{
position:absolute;
top:3%;
right:36%;
}
#buttons
{
position:absolute;
top:225px;
right:100px;
}
#b
{display: block; width: 250px; height: 60px; padding: 20px 20px 20px 20px; margin: 0 auto;
background: #DAA520; /* old browsers */
background: -moz-linear-gradient(top, #F0E68C 0%, #DAA520 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0E68C), color-stop(100%,#DAA520)); /* webkit */
box-shadow: inset 0px 0px 6px #fff;
-webkit-box-shadow: inset 0px 0px 6px #fff;
border: 1px solid #DAA520;
border-radius: 10px;
font: bold 40px/25px Helvetica, Sans-Serif; 
text-align: center; vertical-align:center;
text-decoration: none;
color: black;
text-shadow: 0px 2px 2px #F0E68C;
-moz-transition: color 0.25s ease-in-out;
-webkit-transition: color 0.25s ease-in-out;
transition: color 0.25s ease-in-out;
}
#mattr
{
position:absolute;
top:100px;
left:70px;
height:500px;
width:750px;
border-width: 10px ;
border-color:#B8860B;
border-radius:10px;
border-style:ridge;
}
#mat
{
height:350px;
width: 600px;
position:absolute;
top:70px;
left:100px;
font-size:23px;
font-weight:bold;
font:bold 25px/10px;
font-style:italic;
font-family:"Times New Roman",Times,serif;
}

