 #canvas-div
{
	text-align:center;
}
#form-div
{
	text-align:center;
	margin-top:15px;
}
#pop-out
{
	border:solid orange;
	height:50px;
	width:400px;
	margin-top:-70px;
	margin-left:70px;
}
#con1
{
border:solid;
border-color:black;
border-radius:20px;
}
#con2
{
font-style:italic;
font-size:25px;
border:solid;
border-color:black;
border-radius:20px;
padding:10px;
height:10%;
width:90%;
}
#button
{
height:50px;
border-radius:15px;
background-color:black;
color:white;
}
#tur
{
position:absolute;
}
#try
{
position:absolute;
top:100px;
left:100px;
height:0px;
width:0px;
border-top:30px solid transparent;
border-left:30px solid transparent;
border-right:30px solid transparent;
border-bottom:30px solid orange;
}
